html, body {
  width: 100%;
  overflow-x: hidden;
}

.bar {
  position: relative;
  height: 2px;
  width: 60%;
  margin: 0 auto;
  background: #666;
  margin-top: 16%;
}

.circle {
  position: absolute;
  top: -30px;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  left: 0;
  background: #666;
  border-radius: 30%;
  animation: move 5s infinite;
}

p {
  position: absolute;
  top: -35px;
  right: -85px;
  text-transform: uppercase;
  color: #fff;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

@keyframes move {
  0% {left: 0;}
  50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  100% {right: 100%;}
} 

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.hvr-bounce-in {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0;
  transition: 700ms all;
  background-color: #28a528;
  border: none;
  width: 70%;
  height: 30px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  margin-top: -60px;
  cursor: pointer;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-color: #ffb700;
}  

.product-box:hover .hvr-bounce-in {
  opacity: 1;
}

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.product-box:hover .hvr-buzz-out {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.product-list-header {
  display: inline-flex;
}

.product-header {
  font-size: 27px;
  font-weight: bold;
  margin-top: 25px;
}
.product-list-component {
  padding: 20px 35px;
}

.product-list {
  text-align: center;
  width: 100%;
}

.products-container {
  box-sizing: border-box;
  padding-top: 20px;
}

.product-box {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,.15);
  height: 400px;
  float: left;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  width: 21.46%;
}

.product-img {
  width: 100%;
  max-width: 95%;
  overflow: hidden;
}

.product-name {
  height: 80px;
}
.oops {
  position: absolute;
  top: 20%;
  left: 23%;
}

.no-result {
  position: absolute;
  top: 27%;
  left: 25%;
  width: 50%;
}

.cart {
  width: 50px;
  position: absolute;
  right: 6%;
  top: 50px;
}

.cart-button[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  right: 5.5%;
  top: 50px;
  font-size:.7em;
  background:#f50000;
  color:white;
  width:18px;
  height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}

.soldout {
  width: 60%;
  left: 35%;
  bottom: 45%;
  position: absolute;
}

.price {
  display: inline-flex;
  vertical-align: middle;
  margin-top: 10px;
}

.retail-price {
  padding: .7vw 2vw;
  border: 1px solid #d0d0d0;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
  text-decoration: line-through;
}


.sale-price {
  padding: .7vw 2vw;
  background: #f50000;
  font-size: 18px;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.product-left {
  color: #f50000;
  margin-top: 5px;
  font-size: 14px;
  text-align: right;
}

.cart-button{
  cursor: pointer;
}
.products-on-cart {
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,.15);
  width: 30%;
  float: left;
  background-color: #fff;
  margin: 10px;
  right: 4%;
  top: 100px;
  padding: 10px;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  overflow: hidden;
}

.cartempty-text {
  margin-top: -25px;
  font-size: 23px;
}
.cartempty-fill-me {
  color: #f50000;
  margin: 10px;
}

.success-add-cart {
  text-align: center;
  font-weight: bold;
}

.open-cart-button {
  background-color: #28a528;
  border: none;
  margin: 0 auto;
  width: 83%;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.product-name-notif {
  font-size: 16px;
  padding: 20px 0;
}

.product-cart {
  display: flex;
  margin-top: 40px;;
}

.product-img-cart {
  width: 35%;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
  padding: 10px;
}

.product-name-cart {
  padding: 10px;
  text-align: left;
}

.emptycart-button {
  color: #fff;
  background-color: #ffb700;
  width: 35%;
  border-radius: 4px;
  right: 10px;
  top: 10px;
  position: absolute;
  padding: 5px;
  cursor: pointer;
}

.trashcan {
  width: 18px;
  vertical-align: middle;
  padding-right: 5px;
}

.price-cart {
  text-align: right;
  font-size: 20px;
}

.remove-cart {
  color : #28a528;
}

.remove-cart:hover {
  color : #f50000;
  text-decoration: underline;
  cursor: pointer;
}

.total-price {
  padding: 20px;
  font-size: 25px;
}

.qty-icon-container {
  display: flex;
  margin-top: -15px;
}
.qty-icon {
  width: 30px;
}

.qty-minus-icon {
  width: 26px;
  margin-top: 2px;
  padding: 0 10px;
}

@media only screen and (min-width: 1200px) {
  .product-box{
    width: 21.46%;
  }
}

@media screen and (max-width: 1199px) and (min-width: 725px) {
  .product-box{
    width: 27%;
  }
  .products-on-cart{
    width: 45%;
  }

}

@media screen and (max-width: 1010px) and (min-width: 725px) {
  .price {
    margin-top: 40px;
  }
}

@media screen and (max-width: 724px) and (min-width: 570px) {
  .product-box{
    width: 42%;
  }
  .products-on-cart{
    width: 60%;
  }
}

@media screen and (max-width: 569px) {
  .product-box{
    width: 39%;
  }
  .products-on-cart{
    width: 80%;
  }
  .product-header {
    font-size: 4vw;
  }
}

@media screen and (max-width: 450px) {
  .product-box{
    width: 90%;
  }
  .products-on-cart{
    width: 83%;
  }
  .product-header {
    font-size: 6vw;
  }
  .cart, .cart-button[data-badge]:after {
    top: 70px;
  }
}